.categoryBtn {
  background: none;
  border-radius: 400px;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 8rem;
  width: 8rem;
  z-index: 1001;
  margin-bottom: 2rem;
}

.categoryBtn:hover {
  background: none;
}

.CategoryBtnIcon {
  width: 100%;
  padding-top: 15px;
  height: 100%;
  border: none;
  border-radius: 10%;
  display: flex;
  justify-self: end;
}

.top5Btn {
  background: none;
  border-radius: 400px;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 8rem;
  width: 8rem;
  z-index: 1001;
  margin-bottom: 2rem;
}

.top5Btn:hover {
  background: none;
}

.Top5BtnIcon {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 50%;
}

.navbar .text-center div {
  margin-top: -35px;
  color: #447151;
}

.categoryBtn:focus,
.categoryBtn:active,
.top5Btn:focus,
.top5Btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.categoryModal,
.top5Modal {
  margin-top: 60%;
}
