.position-relative {
    position: relative;
}
.icon-button {
    background: none;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 8rem;
    width: 8rem;
    z-index: 1;
    margin-bottom: 2rem;
}

.icon {
     width: 7rem;
     height: 7rem;
     border-radius: 50%;
 }

.button-container {
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    width: 33%;
    margin-bottom: 2rem;
}

.search-button,
.position-button,
.settings-button {
    z-index: 4;
}

.position-button {
    margin-top: 0.1rem;
}

.settings-button {
    margin-top: 0.1rem;
}

.expanded {
    position: fixed;
    width: 45%;
    height: 35%;
    right: 12rem;
    background-color: white;
    border: none;
    box-shadow: -0.35rem 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 1rem;
    overflow-y: hidden;
}

.search-container,
.settings-container {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 0;
    max-height: 70vh;
    transition: width 0.3s ease, background-color 0.3s ease;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
}



.search-container.expanded,
.settings-container.expanded {
    width: 45%;
    background-color: white;
    border: none;
    box-shadow: -0.35rem 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 1rem;
    overflow-y: hidden;
}

.search-container.expanded {
    height: 35%;
    right: 12rem;
}

.settings-container.expanded {
    top: calc(7% + 8rem + 2rem + 8rem + 2rem);
    height: 20%;
    width: 30%;
    right: 12rem;
}

.settings-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem
}

.settings-content h6 {
    margin: 0.5rem;
}

.search-input {
    position: fixed;top: calc(5% + 1rem);
    right: calc(13rem + 1rem);
    width: 40%;
    border: none;
    height: 2rem;
    padding: 0 0.3rem;
    font-size: 1.6rem;
    outline: none;
    margin-bottom: 1rem;
    margin-top: -0.1rem;
    box-shadow: 0 0.9rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}


.list-group {
    margin-top: 1.25rem;
    width: 100%;
    overflow-y: auto;
}

.list-group-item {
    padding: 0.525rem 0.625rem 0.625rem 1rem ;
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
    border-radius: 1rem;
    transition: background 0.2s ease;
    width: 100%;
    border-bottom: 0.0125rem solid #ccc;
    box-sizing: border-box;
    font-size: 1.4rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
}

.list-group-item:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.list-group-item:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem ;
}


.close-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}


