.position-relative {
    position: relative;
}
.icon-button {
    background: none;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    z-index: 1001;
    margin-bottom: 5%;
}

.icon {
     width: 24px;
     height: 24px;
     border: 1px solid #447151;
     border-radius: 50%;
 }

.button-container {
    position: fixed;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1001;
}

.search-container {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 0;
    height: 30px;
    transition: width 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.search-container.expanded {
    width: 45%;
    height: auto;
    right: 8%;
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    overflow: auto;
}

.search-input {
    width: 100%;
    border: none;
    height: 30px;
    padding: 0 10px;
    outline: none;
    margin-bottom: 1%;
}


.list-group {
    margin-top: 10px;
    width: 100%;
}

.list-group-item {
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: background 0.2s ease;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}



