.top5IconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.top5Icon {
    width: 30px;
    height: 30px;
}

.top5Text {
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition:
            visibility 0s,
            opacity 0.5s;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

#top5Overlay {
    background: rgba(68, 113, 81, 0.83); /* Set the background color to green */
    padding: 20px;
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto;
}

.top5-list {
    display: flex;
    flex-direction: column;
}

.top5-item {
    margin-top: 1px; /* Reduced top margin */
    margin-bottom: 5px; /* Reduced bottom margin */
}

.top5-item button {
    background-color: white; /* Set the button color to white */
    color: black; /* Set the text color to black */
    padding: 10px 10px; /* Increase the size of the button by adding more padding */
    border: none; /* Remove the border */
    width: 100%;
    border-radius: 0.5rem; /* Add some roundness to the corners of the button */
    text-align: center; /* Center the text inside the button */
    font-size: 16px;
    margin: 2px; /* Reduced margin */
    cursor: pointer; /* Change the cursor when you hover over the button */
    transition-duration: 0.4s; /* Add a transition effect when the button is hovered over */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: white; /* Set the color of the "X" to black */
    font-size: 1.5rem; /* Increase the size of the "X" */
    cursor: pointer;
}

.top5-header {
    color: white;
    font-weight: bold;
    padding: 15px;
}

.separator {
    border: 0;
    height: 1px;
    background: #ffffff; /* Change the color of the separator as needed */
    margin: 10px 0; /* Adjust the margin to control spacing */
}