.top5IconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.top5Icon {
    width: 30px;
    height: 30px;
}

.top5Text {
    font-size: 12px;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.overlay-content {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto;
}

.top5-list {
    display: flex;
    flex-direction: column;
}

.top5-item .btn {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: 0.1rem solid #447151;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}