body,
html,
#root {
  height: 100%;
  margin: 0;
}

.main-content {
  padding-bottom: 60px;
}

.navbar {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  width: 20%;
}
* {
  margin: 0;
}
.map {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
}

div.ol-control.ol-unselectable.ol-control button.ol-zoom-out,
div.ol-control.ol-unselectable.ol-control button.ol-zoom-in {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(68, 112, 80);
  border-radius: 100%;

  transition: transform 0.3s; /* Add a transition for smoother scaling */
  transform: translate(-20%, -20%) scale(1);
  position: fixed;

}
.ol-zoom-out {
  left: 97%;
  top: 78%;
  scale: 320%;

}
.ol-zoom-in {
  left: 3%;
  top: 78%;
  scale: 320%;
}
